/* Fonts */

@font-face {
  font-family: "Cuprum";
  src:  url(../fonts/cuprum.woff2) format("woff2"),
        url(../fonts/cuprum.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:  url(../fonts/cuprumbold.woff2) format("woff2"),
        url(../fonts/cuprumbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:  url(../fonts/cuprumitalic.woff2) format("woff2"),
        url(../fonts/cuprumitalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src:  url(../fonts/ptsans.woff2) format("woff2"),
        url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:  url(../fonts/ptsansbold.woff2) format("woff2"),
        url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white-rgb: 255, 255, 255;
  --basic-white: #FFFFFF;
  --basic-mostly-white: #F4F4F4;
  --basic-light-grayish-blue: #F1F5F7;
  --basic-less-grayish-blue: #F3F7F9;
  --basic-high-grayish-blue: #F2F6F8;
  --basic-grayish-blue: #C1C6CE;
  --basic-dark-blue: #293449;
  --basic-medium-dark-blue: #32425C;
  --basic-dark-desaturated-blue: #212A3A;
  --basic-very-dark-blue: #405069;
  --basic-high-dark-blue: #1D2739;
  --basic-bright-cyan: #3BBCE3 ;
  --basic-black-rgb: 0, 0, 0;
  --basic-black: #000000;
  --basic-mostly-black: #161D29;
  --basic-red: #EE3643;
  --basic-strong-red: #BA2732;
  --basic-high-strong-red: #CA2C37;
  --basic-green: #63A63E;
  --basic-lime-green: #8ED78F;
  --basic-strong-green: #5FBB2D;
  --basic-dark-green: #518534;
  --basic-very-dark-green: #367315;
  --basic-orange: #FFBF47;
  --basic-light-orange: #FFC047;
  --basic-high-light-orange:#FFD180;
  --basic-light-grayish-orange: #F9F5F0;
  --basic-magenta: #DC91D8;
  --basic-gray: #A9A9A9;
  --basic-gray-rgb: 169, 169, 169;
  --basic-light-gray: #C5C5C5;
  --basic-light-gray-rgb: 197, 197, 197;
  --basic-high-light-gray: #E5E5E5;
  --basic-grayish-orange: #F7F3EC;
  --basic-very-light-gray: #EAEAEA;
  --basic-very-high-light-gray: #F1F1F1;
  --basic-high-gray: #B5B5B5;
}

/* Global */

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

/* Grid */

.page {
  height: 100%;
}

/* container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Main header */

.main-header {
  margin-bottom: 59px;
}

.header-catalog {
  margin-bottom: 21px;
}

.header-wrap-top {
  background-color: var(--basic-dark-blue);
}

.header-inner-top {
  display: grid;
  grid-template-columns: 220px 1fr max-content;
  align-items: center;
}

.header-bookmark,
.header-basket {
  display: block;
  text-align: center;
  width: 136px;
  padding: 9px 0 9px 0;
  position: relative;
}

.header-inner-logo {
  background-color: var(--basic-red);
  width: 220px;
  min-height: 42px;
  text-align: center;
  position: relative;
}

.header-inner-logo::before {
  content: "";
  background-color: var(--basic-red);
  width: 220px;
  min-height: 10px;
  box-shadow: inset 0px -5px 0px rgba(var(--basic-black-rgb), 0.24);
  position: absolute;
  top: 37px;
  right: 0px;
}

.header-logo img {
  padding-top: 13px;
}

.logo-catalog:active,
.header-inner-logo:active::before {
  background-color: var(--basic-strong-red);
}

.header-inner-search  {
  position: relative;
}

.header-form-search label {
  margin-left: 20px;
  position: absolute;
  right: 220px;
  top: 10px;
}

.header-form-search label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-form-search input {
  background-color: transparent;
  border: none;
  width: 240px;
  height: 42px;
  padding-left: 45px;
}

.header-form-search input::placeholder {
  color: var(--basic-white);
}

.header-form-search input:focus,
.header-form-search input:active {
  background-color: var(--basic-white);
  outline: none;
}

.header-form-input:hover + label::before,
.header-form-input:focus + label::before {
  opacity: 1;
}

.header-form-input:focus + label::before{
  background-image: url(../img/icons/icon-search-red.svg)
}

.header-inner-user-block {
  display: flex;
}

.header-inner-user-block a {
  color: var(--basic-white);
}

.button-order {
  display: inline-block;
  background-color: var(--basic-green);
  text-align: center;
  width: 150px;
  padding: 10px 0 10px 0;
}

.button-order:hover,
.button-order:focus {
  background-color: var(--basic-strong-green);
}

.button-order:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.header-bookmark:active,
.header-basket:active {
  background-color: var(--basic-mostly-black);
  opacity: 0.3;
}

.header-bookmark:hover::before,
.header-bookmark:focus::before,
.header-basket:hover::before,
.header-basket:focus::before {
  opacity: 1;
}

.header-bookmark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  bottom: 10px;
  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-basket::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 8px;
  bottom: 10px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.basket-complete {
  background-color: var(--basic-red);
}

.header-wrap-middle {
  background-color: var(--basic-light-grayish-blue);
  padding-bottom: 60px;
}

.header-inner-middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.main-title {
  width: 197px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin-bottom: 45px;
  margin-top: 37px;
  margin-left: 31px;
}

.header-inner-login {
  justify-self: end;

}

.header-phone-number {
  display: block;
  width: 270px;
  min-height: 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  padding-left: 74px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.header-phone-number::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 35px;
  top: 10px;
  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
}

.header-address {
  font-size: 14px;
  color: var(--basic-medium-dark-blue);
  margin-top: 3px;
  margin-left: 10px;
}

.button-login {
  display: inline-block;
  width: 150px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding: 12px 0 12px 0;
}

.button-signin {
  width: 50px;
  position: relative;
  padding-left: 45px;
  padding-right: 27px;
}

.button-signin::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 13px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/icon-login.svg);
  background-repeat: no-repeat;
}

.button-login:hover,
.button-login:focus {
  color: var(--basic-red);
}

.button-login:active {
  color: var(--basic-light-gray);
}

.button-signin:hover::before,
.button-signin:focus::before{
  background-image: url(../img/icons/icon-login-dark.svg);
}

.button-signin:active::before {
  background-image: url(../img/icons/icon-login.svg);
}

.login-name {
  width: 299px;
  background-color: var(--basic-white);
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.login-name a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.login-control a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-medium-dark-blue);
}

.login-control a:hover,
.login-control a:focus {
  color: var(--basic-red);
}

.login-name a:active,
.login-control a:active {
  color: var(--basic-light-gray);
}

.site-navigation {
  background-color: var(--basic-medium-dark-blue);
  width: 920px;
}

.site-nav-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.site-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav-link {
  display: inline-block;
  color: var(--basic-white);
  padding: 0 28px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.site-nav-item {
  text-align: center;
}

.site-nav-item:first-child {
  margin-left: 20px;
}

.site-nav-item:last-child {
  margin-right: 20px;
}


.site-nav-item:hover,
.site-nav-item:focus {
  background-color: var(--basic-dark-blue);
}

.site-nav-item:active {
  background-color: var(--basic-high-dark-blue);
}

.site-nav-link:active {
  color: rgba(var(--basic-white-rgb),0.5);
}

/*products*/

.products {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 123px 123px 123px;
  grid-gap: 20px;
  margin-bottom: 59px;
}

.products-list,
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.features-list {
  display: grid;
  row-gap: 20px;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.product-item h3,
.feature-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-top: 20px;
  margin-left: 23px;
}

.product-link {
  display: block;
  width: 135px;
  min-height: 28px;
  padding-top: 10px;
  margin-left: 23px;
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.product-link:hover,
.product-link:focus {
  background-color: rgba(var(--basic-light-gray-rgb), 0.3);
}

.product-link:active {
  background-color: rgba(var(--basic-gray-rgb), 0.3);
}

.product-item,
.feature-item {
  width: 300px;
  min-height: 123px;
  position: relative;
}

.product-item:nth-child(1) {
  background-color: var(--basic-orange);
}

.product-item:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 43px;
  top: 31px;
  width: 44px;
  height: 65px;
  background-image: url(../img/icons/icon-materials.svg);
  background-repeat: no-repeat;
}

.product-item:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0;
  background-image: url(../img/label-new.svg);
  background-repeat: no-repeat;
}


.product-item:nth-child(2) {
  background-color: var(--basic-bright-cyan);
}

.product-item:nth-child(2)::after {
  content: "";
  position: absolute;
  right: 43px;
  top: 34px;
  left: 194px;
  width: 75px;
  height: 61px;
  background-image: url(../img/icons/icon-instruments.svg);
  background-repeat: no-repeat;
}

.product-item:nth-child(3) {
  background-color: var(--basic-magenta);
}

.product-item:nth-child(3)::after {
  content: "";
  position: absolute;
  right: 31px;
  top: 31px;
  left: 194px;
  width: 78px;
  height: 62px;
  background-image: url(../img/icons/icon-technics.svg);
  background-repeat: no-repeat;
}


.feature-item:nth-child(1) {
  background-color: var(--basic-lime-green);
}

.feature-item:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 45px;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url(../img/icons/icon-sales.svg);
  background-repeat: no-repeat;
}

.feature-item:nth-child(2) {
  background-color: var(--basic-light-orange);
}

.feature-item:nth-child(2)::after {
  content: "";
  position: absolute;
  right: 31px;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url(../img/icons/icon-delivery.svg);
  background-repeat: no-repeat;
}

/* slider */

.slider {
  display: grid;
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.slide {
  width: 620px;
  min-height: 266px;
  background-color: var(--basic-black);
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide .button {
  margin-left: 24px;
  margin-top: 97px;
}

.inner-slide-title {
  background-color: rgba(var(--basic-black-rgb), 0.25);
  width: 620px;
  min-height: 104px;
}

.inner-slide-title h3{
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 24px;
  padding-top: 23px;
}

.inner-slide-title p {
  margin-top: 0;
  margin-left: 24px;
}

.slide-one {
  background: url(../img/slider-puncher.jpg) no-repeat;
}

.slide-two {
  background: url(../img/slider-drill.jpg) no-repeat;
}

/* goods */

.goods {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 70px;
}

.goods-list-catalog {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 48px;
}

.goods-item {
  position: relative;
  width: 216px;
  border: 1px solid var(--basic-very-light-gray);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
}

.goods-item h3 {
  width: 185px;
  height: 43px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 18px;
}

.goods-item img {
  margin-top: 29px;
}

.goods-item:hover,
.goods-item:focus  {
  box-shadow: 0px 4px 20px rgba(var(--basic-black-rgb), 0.15);
}

.price {
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: var(--basic-gray);
  margin-top: 7px;
  margin-bottom: 0;
}

.new-price {
  color: var(--basic-white);
  background-image: url(../img/price-background.svg);
  background-repeat: no-repeat;
  padding: 10px 44px 10px 0;
  margin-top: 13px;
  margin-left: 40px;
  margin-bottom: 31px;
}

.button-goods {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 135px;
}

.button-buy {
  display: block;
  position: relative;
  width: 0;
  padding: 10px 80px 10px 55px;
  margin-left: 41px;
  margin-right: 44px;
  margin-bottom: 10px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--basic-very-dark-green);
}

.button-buy::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--basic-strong-green);
}

.button-buy:active {
  background-color: var(--basic-dark-green);
}

.button-bookmark {
  display: block;
  padding: 7px 0;
  margin-left: 41px;
  margin-right: 44px;
  color: var(--basic-medium-dark-blue);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
}

.inner-button-goods {
  position: absolute;
  top: 38px;
  background-color: var(--basic-white);
  width: 180px;
  min-height: 100px;
  /*display: none;*/
}

.goods-item:hover .inner-button-goods,
.goods-item:focus .inner-button-goods {
  display: block;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border-color: var(--basic-medium-dark-blue);
}

.button-bookmark:active {
  opacity: 0.5;
}

.new-goods::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0;
  background-image: url(../img/label-new.svg);
  background-repeat: no-repeat;
}


/* manufacturers */

.manufacturers {
  margin-bottom: 70px;
}

.manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.manufacturers-item {
  width: 216px;
  padding: 20px 0 20px 0;
  border: 1px solid var(--basic-very-light-gray);
}

.manufacturers-item:hover,
.manufacturers-item:focus {
  box-shadow: 0px 4px 20px rgba(var(--basic-black-rgb), 0.15);
}

.manufacturers-item:active {
  opacity: 0.4;
}

/* services */

.services {
  background-color: var(--basic-light-grayish-blue);
}

.slider-area-services {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
  position: relative;
}

.slider-services {
  display: grid;
}

.slide-service {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.slide-description {
  display: flex;
}


.slide-service {
  display: none;
  position: relative;
}

.slide-description img {
  position: absolute;
  right: 20px;
}

.slide-service-current {
  display: block;
}

.slide-text {
  width: 280px;
  margin-bottom: 128px;
}

.text-guarantee {
  width: 320px;
}

.control-services {
  margin-bottom: 99px;
}

.control-services::before {
  content: "";
  position: absolute;
  left: 230px;
  top: -40px;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.svg);
  background-repeat: no-repeat;

}

.button-service {
  width: 240px;
  min-height: 61px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: start;
  padding-left: 22px;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-medium-dark-blue);
  box-shadow: 0px 1px 0px var(--basic-dark-blue),
              inset 0px 1px 0px var(--basic-very-dark-blue);
}

.button-service-active {
  color: var(--basic-medium-dark-blue);
  background-color: var(--basic-white);
  border-color: var(--basic-white);
  box-shadow: none;
}

.button-service:hover:not(.button-service-active),
.button-service:focus:not(.button-service-active) {
  background-color: var(--basic-dark-blue);
}

.btn-middle-back,
.btn-middle-forward {
  background-color: transparent;
  border: none;
}

.btn-middle-back::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 40px;
  top: 122px;
  left: 25px;
  background-image: url(../img/icons/icon-arrow.svg);
  background-repeat: no-repeat;
}

.btn-middle-forward::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 40px;
  top: 122px;
  right: 20px;
  background-image: url(../img/icons/icon-arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.btn-bottom {
  padding: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.btn-bottom-back {
  left: 295px;
  bottom: 38px;
}

.btn-bottom-forward {
  left: 317px;
  bottom: 38px;
}

.btn-current {
  background-color: var(--basic-red);
}

/* about */

.about h2,
.contacts h2 {
  margin-top: 70px;
  margin-left: 0;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 180px;
}

.about-list {
  list-style: none;
  margin-top: 0
}

.about-item {
  color: var(--basic-black);
  position: relative;
  margin-bottom: 12px;
}

.about-item:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 10px;
  width: 25px;
  height: 3px;
  background-color: var(--basic-red);
}

.contacts .text {
  margin-bottom: 32px;
}

/* catalog */

.heading-inner-catalog {
  display: grid;
}

.wrap-title-grid {
  order: 1;
  margin-top: 20px;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 90px 1fr;
  column-gap: 20px;
}

/* filter, sorting */

.sorting {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.inner-filter,
.inner-sorting {
  min-height: 38px;
  margin-top: 20px;
  background-color: var(--basic-grayish-orange);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.inner-filter {
  width: 220px;
}

.inner-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  padding-bottom: 0;
}

.inner-sorting h2,
.inner-filter h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 19px;
}

.inner-sorting h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.inner-filter h2{
  padding-top: 10px;
  padding-bottom: 10px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.sorting-list,
.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-item a {
  color: rgba(var(--basic-black-rgb),0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--basic-black);
}

.sorting-item-active a {
  color: var(--basic-red);
  text-decoration: none;
}

.filter-title,
.filter-item label{
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-item label {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.filter fieldset {
  border: none;
}

.button-filter {
  width: 220px;
  min-height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--basic-high-light-gray);
}

/* pagination */

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 285px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item a {
  display: inline-block;
  padding: 10px 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 1px solid var(--basic-high-light-gray);
  border-radius: 2px;
}

.next-page a {
  padding: 10px 31px;
}

.pagination-item a:hover:not(.pagination-item-active a),
.pagination-item a:focus:not(.pagination-item-active a){
  border-color: var(--basic-light-gray);
}

.pagination-item a:active:not(.pagination-item-active a) {
  border-color: var(--basic-red);
}

.pagination-item-active a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border-color: var(--basic-red);
}

/* description */

.description {
  background-color: var(--basic-light-grayish-blue);
  margin-top: 59px;
}

/* titles */

.wrap-title {
  width: 940px;
  min-height: 89px;
  background-color: var(--basic-light-grayish-orange);
  margin-bottom: 20px;
}

.wrap-title-main {
  display: flex;
  justify-content: space-between;
}

.button-main {
  margin-right: 14px;
}

.wrap-title-catalog {
  background-color: var(--basic-high-grayish-blue);
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-medium-dark-blue);
  text-transform: uppercase;
  margin-left: 28px;
  margin-top: 29px;
  margin-bottom: 30px;
}

.title-services,
.title-description {
  color: var(--basic-black);
  padding-top: 64px;
  margin-left: 0;
}

.title-serivces {
  margin-bottom: 25px;
}

.slide-title {
  margin-left: 0;
  margin-top: 0;
}
/* text */

.text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}

.text-catalog {
  padding-bottom: 68px;
  margin-bottom: 0;
}

.text-services {
  width: 394px;
  margin-bottom: 70px;
}

.text-about {
  margin-bottom: 20px;
}

/* breadcrumbs */

.breadcrumbs-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 21px;
}

.breadcrumbs-item {
  margin-left: 20px;
  margin-right: 20px;
}


/* buttons */

.button {
  display: inline-block;
  min-width: 192px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin-top: 25px;
  margin-bottom: 26px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.button-about {
  width: 220px;
  margin-bottom: 70px;
}

.button-contacts {
  width: 300px;
  margin-top: 35px;
}

.button:hover,
.button:focus {
  background-color: var(--basic-high-strong-red);
}

.button:active {
  background-color: var(--basic-strong-red);
}

/* main footer */

.footer-wrap-top {
  background-color: var(--basic-medium-dark-blue);
}

.footer-inner-top {
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 80px;
}

.footer-inner-logo {
  background-color: var(--basic-red);
  width: 220px;
  min-height: 68px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(var(--basic-black-rgb), 0.24);
}

.footer-logo img {
  padding-top: 20px;
}

.footer-inner-contacts {
  width: 321px;
  margin-bottom: 54px;
}

.footer-nav {
  margin-top: 37px;
}

.footer-address,
.footer-phone-number{
  color: var(--basic-less-grayish-blue);
}

.footer-address {
  margin-bottom: 0;
  margin-top: 22px;
}

.footer-nav-list,
.footer-categories-list,
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
  margin-top: 34px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--basic-dark-desaturated-blue);
}

.social-item:nth-child(1) .social-link {
  background-image: url(../img/icons/icon-vk1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-item:nth-child(2) .social-link {
  background-image: url(../img/icons/icon-fb.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-item:nth-child(3) .social-link {
  background-image: url(../img/icons/icon-insta.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--basic-red);
}

.footer-nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 58px;
}

.footer-categories-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 58px;
  margin-top: 38px;
  margin-bottom: 74px;
}

.footer-nav-link {
  color: var(--basic-light-grayish-blue);
}

.footer-category-link {
  color: var(--basic-high-light-orange);
}

.footer-inner-bottom {
  display: grid;
  grid-template-columns: 240px 1fr 300px;
  column-gap: 135px;
  justify-content: center;
}

.inner-feedback {
  display: flex;
}

.creator {
  margin-left: 51px;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-category-link:hover,
.footer-category-link:focus,
.footer-feedback a:hover,
.footer-feedback a:focus,
.creator a:hover,
.creator a:focus {
  text-decoration: underline;
}

.footer-nav-link:active,
.footer-category-link:active {
  opacity: 0.5;
}

.footer-wrap-bottom {
  background-color: var(--basic-dark-blue);
  min-height: 107px;
}

.copy,
.footer-feedback,
.creator {
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a,
.creator a {
  color: var(--basic-high-light-orange)
}

.footer-feedback a:active,
.creator a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.copy,
.footer-feedback,
.creator {
  margin-top: 36px;
}

.copy {
  padding-left: 5px;
}

/* modal */

.inner-modal-button {
  width: 620px;
  padding: 37px 0 37px 0;
  background-color: var(--basic-mostly-white);
}

.form-modal {
  color: var(--basic-black);
}

.field {
  border: 2px solid var(--basic-light-gray);
  color: var(--basic-gray);
  font-size: 13px;
}

.button-modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}
